.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  color: #FFFFFF;
  font-family: 'Helvetica Neue', sans-serif;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
}

.logo img {
  height: 60px; 
}

.walletButton {
  background-color: #1B75BC;
  color: #FFFFFF;
  border: none;
  padding: 0.75rem 1.5rem; 
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

}

.navigation {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  color: #AFCDE7;
  margin-right: 1rem;
  transition: color 0.3s ease-in-out;
}

.link:hover, .link:focus {
  color: #7BFBF4;
}

.walletAddress {
  color: #007bff;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
}

.walletAddress:hover {
  background-color: #e0f7ff;
  transform: translateY(-2px);
  text-decoration: underline;
}

.walletButton:hover {
  background-color: #3284ff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .logo, .walletButton {
    flex: 1;
  }

  .logo {
    order: -1;
  }
  .logo img {
    transform: scale(0.5);
    transform-origin: top left;
    margin-left: 0;
  }
  .navigation {
    margin-top: 0;
    justify-content: flex-end;
  }

  .navigation .link {
    display: none;
  }

  .walletButton {
    order: 2;
    padding: 0.5rem 1rem;
    transform: scale(0.5);
    transform-origin: top right;
    margin-left: 0;
  }
}
